%p#notice
  = notice
%h1 Listing Users
%table
  %thead
    %tr
      %th Email
  %tbody
    - @users.each do |user|
      %tr
        %td
          =user.email
          =link_to "Show", user, class: 'button tiny radius'
          =link_to "Edit", edit_user_path(user), class: 'button tiny radius'
          =link_to "Destroy", user, method: :delete, data: { confirm: 'Are you sure?'},
                                                  class: 'button tiny radius'
%br
=link_to "New User", new_user_path, class: "button success radius large"
